{% set tests = comparison_data.get('tests', []) | tojson %}
{% set selected_aggregation_backend = comparison_data.get('selected_aggregation_backend', 'pct95') %}
{% set selected_aggregation_ui = comparison_data.get('selected_aggregation_ui', 'mean') %}
{% set selected_metric_ui = comparison_data.get('selected_metric_ui', 'total') %}
{% set table_attrs = {
    'data-page-size': 10,
    'id': 'table_reports',
    'data-side-pagination': 'client',
    'data-data': '%s',
    'baselines': '%s'
} | format(tests, baselines | default({}) | tojson) %}


<div class="card my-3">
    <div class="card-header">
        <a href="/api/v1/artifacts/artifact/1/comparison/{{ file_hash }}.json" download>DOWNLOAD</a>
    </div>
    <div class="card-body">
        <pre style="white-space: pre-wrap">
            baselines: {{ baselines | tojson }}
        </pre>
        <pre style="white-space: pre-wrap">
            comparison_data: {{ comparison_data | tojson }}
        </pre>
    </div>
    <button class="btn btn-secondary" onclick="$(this).closest('div.card').css({display: 'none'})">HIDE</button>
</div>


<div class="p-3">
    <Table-Card
            @register="register"
            instance_name="table_reports"

            header='Tests Comparison'
            :table_attributes='{{ table_attrs }}'
    >
        <template #actions="{master}">

        </template>
        <template #table_headers="{master}">
            <th data-visible="false" data-field="id">index</th>
            <th scope="col" data-sortable="true" data-field="name"
                data-formatter="report_formatters.name"
            >
                Name
            </th>
            <th scope="col" data-sortable="true" data-field="start_time"
                data-formatter="report_formatters.start"
            >
                Start
            </th>
            <th scope="col" data-sortable="true" data-field="group">
                Group
            </th>
            <th scope="col" data-sortable="true" data-field="test_env">
                Env
            </th>
            <th scope="col" data-sortable="true" data-field="error_rate">
                Error Rate
            </th>
            <th scope="col" data-sortable="true" data-field="duration">
                Duration
            </th>
            <th scope="col" data-sortable="true" data-field="tags"
                data-formatter="reportsTagFormatter"
            >
                Tag
            </th>
            <th scope="col" data-sortable="true" data-field="status"
                data-formatter="report_formatters.status"
            >
                Status
            </th>
        </template>
    </Table-Card>


    <div class="card my-3">
        <div class="card-header">
        </div>
        <div class="card-body d-flex flex-column">
            <Chart-Section
                    @register="register"
                    instance_name="chart_section"
                    :tests='{{ tests }}'
                    selected_aggregation_backend="{{ selected_aggregation_backend }}"
                    selected_aggregation_ui="{{ selected_aggregation_ui }}"
                    selected_metric_ui="{{ selected_metric_ui }}"
            ></Chart-Section>
        </div>
    </div>


    <Table-Card
            @register="register"
            instance_name="table_summary"

            header='Summary'
            :table_attributes='{{ table_attrs }}'
    >
        <template #actions="{master}">

        </template>
        <template #table_headers="{master}">
            <th data-visible="false" data-field="id">index</th>
            <th scope="col" data-sortable="true" data-field="name"
                data-formatter="report_formatters.name"
            >
                Name
            </th>
            <th scope="col" data-sortable="true" data-field="start_time"
                data-formatter="report_formatters.start"
            >
                Start
            </th>
            <th scope="col" data-sortable="true" data-field="metrics.total"
                data-formatter="summary_formatters.total">Ttl req, count
            </th>
            <th scope="col" data-sortable="true" data-field="metrics.total"
                data-formatter="baseline_formatters.total">BSL. DIFF.
            </th>
            <th scope="col" data-sortable="true" data-field="metrics.throughput">Thrghpt, req/sec</th>
            <th scope="col" data-sortable="true" data-field="metrics.throughput"
                data-formatter="baseline_formatters.throughput">BSL. DIFF.
            </th>
            <th scope="col" data-sortable="true" data-field="metrics.failures">Errors, count</th>
            <th scope="col" data-sortable="true" data-field="metrics.failures"
                data-formatter="baseline_formatters.failures">BSL. DIFF.
            </th>
            <th scope="col" data-sortable="true" data-field="aggregations.pct95">Pct95, ms</th>
            <th scope="col" data-sortable="true" data-field="aggregations.pct95"
                data-formatter="baseline_formatters.aggregations">BSL. DIFF.
            </th>
            <th scope="col" data-sortable="true" data-field="metrics.total.mean">Page load</th>
            <th scope="col" data-sortable="true" data-field="metrics.total.mean"
                data-formatter="baseline_formatters.page_speed">BSL. DIFF.
            </th>
        </template>
    </Table-Card>
</div>
