{% set tests = comparison_data.get('tests', []) | tojson %}
{% set table_attrs = {
    'data-page-size': 10,
    'id': 'table_reports',
    'data-side-pagination': 'client',
    'data-data': '%s'
} | format(tests) %}

<div class="p-3">
    <Table-Card
        @register="register"
        instance_name="table_reports"

        header='Tests Comparison'
        :table_attributes='{{ table_attrs }}'
    >
        <template #actions="{master}">

        </template>
        <template #table_headers="{master}">
            <th data-visible="false" data-field="id">index</th>
            <th scope="col" data-sortable="true" data-field="name"
                data-formatter="report_formatters.name"
            >
                Name
            </th>
            <th scope="col" data-sortable="true" data-field="start_time"
                data-formatter="report_formatters.start"
            >
                Start
            </th>
            <th scope="col" data-sortable="true" data-field="group">
                Group
            </th>
            <th scope="col" data-sortable="true" data-field="test_env">
                Env
            </th>
            <th scope="col" data-sortable="true" data-field="error_rate">
                Error Rate
            </th>
            <th scope="col" data-sortable="true" data-field="duration">
                Duration
            </th>
            <th scope="col" data-sortable="true" data-field="tags"
                data-formatter="reportsTagFormatter"
            >
                Tag
            </th>
            <th scope="col" data-sortable="true" data-field="status"
                data-formatter="report_formatters.status"
            >
                Status
            </th>
        </template>
    </Table-Card>


    <div class="card my-3">
        <div class="card-header">
        </div>
        <div class="card-body d-flex flex-column">
            <Chart-Section
                @register="register"
                instance_name="chart_section"
                :tests='{{ tests }}'
                selected_aggregation_backend="pct99"
                selected_aggregation_ui="mean"
            ></Chart-Section>
        </div>
    </div>



    <Table-Card
        @register="register"
        instance_name="table_summary"

        header='Summary'
        :table_attributes='{{ table_attrs }}'
{#        container_classes="my-3"#}
    >
        <template #actions="{master}">

        </template>
        <template #table_headers="{master}">
            <th data-visible="false" data-field="id">index</th>
            <th scope="col" data-sortable="true" data-field="name"
                data-formatter="report_formatters.name"
            >
                Name
            </th>
            <th scope="col" data-sortable="true" data-field="start_time"
                data-formatter="report_formatters.start"
            >
                Start
            </th>
            <th scope="col" data-sortable="true" data-field="total">Ttl req, count</th>
            <th scope="col" data-sortable="true" data-field="throughput">Thrghpt, req/sec</th>
            <th scope="col" data-sortable="true" data-field="ko">Errors, count</th>
            <th scope="col" data-sortable="true" data-field="min">Min, ms</th>
            <th scope="col" data-sortable="true" data-field="mean">Median, ms</th>
            <th scope="col" data-sortable="true" data-field="pct95">Pct95, ms</th>
            <th scope="col" data-sortable="true" data-field="max">Max, ms</th>
        </template>
    </Table-Card>
</div>
