<div class="card">
    <div class="card-header">
        <h3>Summary</h3>
    </div>
    <div class="card-body d-flex flex-column">
        {# filters #}
        <button type="button" class="btn btn-secondary"
                data-chart_name="fake_chart"
                @click="registered_components.summary_filter?.handle_expand_chart"
        >
            fake chart zoom
        </button>
        <Summary-Filter
                @register="register"
                instance_name="summary_filter"
        ></Summary-Filter>

        {# charts #}

    </div>
</div>
