<div class="card">
    <div class="card-header">
        <h3>Summary</h3>
    </div>
    <div class="card-body d-flex flex-column">
        {# filters #}
        <Summary-Filter
            @register="register"
            instance_name="summary_filter"
        ></Summary-Filter>

        {# colorful cards #}
{#        <div class="d-flex">#}
{#            colorful cards#}
{#        </div>#}

        {# charts #}
        <div class="d-flex justify-content-between my-3">
            <div class="mr-1 chart-container">
                <canvas id="throughput_chart"></canvas>
            </div>
            <div class="mx-1 chart-container">
                <canvas id="error_rate_chart"></canvas>
            </div>
            <div class="mx-1 chart-container">
                <canvas id="response_time_chart"></canvas>
            </div>
            <div class="ml-1 chart-container">
                <canvas id="page_speed_chart"></canvas>
            </div>
        </div>
    </div>
</div>