<div class="card">
    <div class="card-header">
        <h3>Summary</h3>
    </div>
    <div class="card-body d-flex flex-column">
        {# filters #}
        <button type="button" class="btn btn-secondary"
                    data-chart_name="fake_chart"
                    @click="registered_components.summary_filter?.handle_expand_chart"
                        style="left: 0; right: auto;"
                >
                    fake chart zoom
                </button>
        <Summary-Filter
                @register="register"
                instance_name="summary_filter"
        ></Summary-Filter>

        {# charts #}
        <div class="d-flex justify-content-between my-3">
            <div class="mr-1 chart-container">
                <button type="button" class="btn btn-secondary btn-sm btn-icon__sm"
                    data-chart_name="throughput"
                    @click="registered_components.summary_filter?.handle_expand_chart"
                >
                    <i class="fa fa-magnifying-glass-plus"></i>
                </button>
                <canvas id="throughput_chart"></canvas>
            </div>
            <div class="mx-1 chart-container">
                <button type="button" class="btn btn-secondary btn-sm btn-icon__sm"
                    data-chart_name="error_rate"
                    @click="registered_components.summary_filter?.handle_expand_chart"
                >
                    <i class="fa fa-magnifying-glass-plus"></i>
                </button>
                <canvas id="error_rate_chart"></canvas>
            </div>
            <div class="mx-1 chart-container">
                <button type="button" class="btn btn-secondary btn-sm btn-icon__sm"
                    data-chart_name="response_time"
                    @click="registered_components.summary_filter?.handle_expand_chart"
                >
                    <i class="fa fa-magnifying-glass-plus"></i>
                </button>
                <canvas id="response_time_chart"></canvas>
            </div>
            <div class="ml-1 chart-container">
                <button type="button" class="btn btn-secondary btn-sm btn-icon__sm"
                    data-chart_name="page_speed"
                    @click="registered_components.summary_filter?.handle_expand_chart"
                >
                    <i class="fa fa-magnifying-glass-plus"></i>
                </button>
                <canvas id="page_speed_chart"></canvas>
            </div>
        </div>
    </div>
</div>
<Expanded-Chart
    @register="register"
    modal_id="expanded_chart_backdrop"
></Expanded-Chart>