.builder_filter_container {
    width: 280px;
    max-height: 100vh;
    margin-left: 25px;
}

.builder_filter_blocks {
    overflow: scroll;
    height: 100%;
}

#builder_chart {
    max-width: 100%;
}

.circle {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid;
}