.selectpicker-titled:not(.selectpicker-titled) {
    margin-right: 0.5rem;
}
.selectpicker-titled:not(.selectpicker-titled:first-child) {
    margin-left: 0.5rem;
}

.colorful-cards .col:first-child {
    padding-left: 0;
}
.colorful-cards .col:last-child {
    padding-right: 0;
}